@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "reset";

body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  color: var(--primary-color);
}

.app {
  font-family: var(--font-family-main);
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
