.Sidebar {
    height: calc(100vh - 50px);
    width: var(--sidebar-width);
    background: var(--navbar-bg-color);
    position: relative;
    transition: width .2s;
}
.collapsed {
    width: var(--sidebar-width-collapsed);
}
.switchers {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    // padding-left: 20px;
}
.lang {
    margin-left: 20px;
}